@model IEnumerable<ProyectoDSW.Models.Libros>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Crear nuevo libro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idGenero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idGenero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.codigo }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.codigo }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.codigo }, new { @class = "btn btn-danger" })
                </td>

        </tr>
}
    </tbody>
</table>
